html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}

* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: Baskerville, ‘Times New Roman’, Times, serif;
    background: #11345E; /* keep */
    color: #fff; /* keep */
    margin: 0; /* keep */
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-family: Trebuchet, Tahoma, Arial, sans-serif;
}

#name {
  font-size: medium;
  font-style: oblique;
  font-weight: bold;
  margin: 40px 0;
}

h1 {
  text-shadow: .1em .1em #09090A;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
  padding: 20px;
  text-align: center;
}

#container1 {
  height: 600px;
  width: 900px;
}

#container2 {
  height: 400px;
  width: 900px;
}

#text {
  background: #fff;
  padding: 0 15px 0 15px;
  color: #000;
  line-height: 1.25em;
}

/* pseudo classes */
a {
    color: #D11CE6; /* keep */
}

a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 800px) {
  #container1, #container2 {
    width: 100%;
  }

#content {
  padding: 20px;
}

  #container1 {
    height: 400px;
  }

  #container2 {
    height: 500px;
  }

  header {
    padding: 20px;
  }
  }
